h1 {
  color: blue;
  text-align: center;
  font-size: 75px;
  font-style: oblique;
  font-weight: bold;
  text-decoration: underline;

}

body {
  background-image: url("../images/nyimg.jpg");
  background-size: 100%;
}

#window {
  position: static;
  opacity: 0.9;
  background-color: skyblue;
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

#input_field {
  margin-bottom: 20px;
}

input {
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
}